#container{
    width: 400px;
    background-color:ghostwhite;
    padding: 20px;
}

input{
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type:none ;
}

.list{
    margin: 10px;
}

.list > li{
    background-color:rgb(233, 233, 189);
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.btn{
    display: flex;
    justify-content: flex-end;
}

.btn > button{
    padding: 10px;
    font-size: 20px;
    background-color: lightgreen;
    border-radius: 5px;
    border:1px solid #ddd;
    cursor: pointer;
}